<div id="formWrapper">
  <div class="heading">
    <h3>Text eingeben</h3>
  </div>
  <form method="POST" action="/analyze">
    <textarea name="message">In Lauffen am Neckar in Baden-Württemberg ist offenbar ein Brandanschlag auf ein Moscheegebäude verübt worden. Die Brandsätze, sogenannte Molotowcocktails, richteten zwar nur Sachschaden an, die Polizei ermittelt nach eigenen Angaben aber wegen versuchten Mordes, weil sich der Imam zur Tatzeit in dem Gebäude aufhielt. Hinweise auf Täter lagen der Polizei zunächst nicht vor. Ein oder mehrere bislang Unbekannte hatten die Brandsätze in ein Nebengebäude der Moschee geworfen, in dem sich laut Polizei Gemeinschafts- und Fortbildungsräume, aber auch Wohnräume des Imams befinden. In dem Gebäude kam es zu erheblichen Verrußungen, das aufflammende Feuer konnte gelöscht werden. Der Schaden wird auf etwa 5.000 Euro geschätzt. Verletzt wurde niemand. Laut Bundesinnenministerium gab es im vergangenen Jahr knapp 1.000 Angriffe auf Muslime und muslimische Einrichtungen. Dabei wurden 33 Menschen verletzt.</textarea>
    <button><span>Abschicken</span><i class="fas fa-1x fa-spinner fa-spin"></i></button>
  </form>
</div>
